* {
  margin: 0%;
  padding: 0%;
  box-sizing: content-box;
}

.Encabezado {
  background-color: #4215ac;
  display: grid;
  grid-template-columns: 80% 10% 10%;
  height: 50%;
  margin: 0 auto;

}

.Encabezado h1 {
  color: white;
  font-size: 300%;
  padding-top: 5%;
  font-family: 'Garamond';
  text-align: center;
  margin: 0;
  align-items: center;


}

.Titulo {
  margin-left: 15%;
  display: inline-block;
  position: left;
  text-align: left;
}

.userLogo {
  display: inline-block;
  position: center;

}

.userLogo img {
  margin: 20%;
  width: 50%;
  height: 60%;

}

.userLogo img :hover {
  transition: 0.3s;

}

.Usuario {
  margin-top: 45%;
  margin-left: -15%;
  display: inline-block;
  position: right;
  color: White;
}

.Usuario :hover {
  color: rgb(32, 223, 236);
}

.Menu {
  height: 30%;
}

.Menu li a img {
  margin: 2%;
  height: 12%;
  width: 12%;
}

.Prueba {
  margin-top: 56%;
}

.Prueba li a img {
  height: 12%;
  width: 12%;
  margin-right: 3%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: white;
}

.logo {
  padding: 20px;
  margin-bottom: 90px;
}

.logo img {

  height: 100px;
  width: 240px;
  margin-left: -30px;

}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3c0bad;
}

nav ul li {
  list-style: none;
}


nav ul li a {
  display: block;
  font-family: 'montserrat';
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
  position: relative;
  padding: 15px 0px 15px 25px;
  transition: all 0.5s;
}


.wrapper {
  margin-left: 260px;
}

section {
  background-color: white;
}

.box-area h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.wrapper a {
  text-decoration: none;
}

.Principal {

  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 20vh;
  color: white;
}

.Principal-Uno {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #25d4eb;
  grid: 40% 60%;
  margin: 5%;
  height: 80%;
  border-radius: 25px;
  width: 90%;
  margin: 5%;


}

.Principal-Uno img {
  width: 100%;
  height: 80%;
  margin-top: 14%;



}

.Principal-Dos {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: #5be662;
  grid: 40% 60%;
  margin: 5%;
  height: 80%;
  border-radius: 25px ;
  width: 90%;
}

.Principal-Dos img {
  width: 90%;
  height: 80%;
  margin-top: 14%;



}



.Principal-Uno .Uno-lef {
  display: inline-block;
  position: left;
  background-color: #25c3df;
  border-radius: 25px;
  width: 100%;
  text-align: center;

}

.Principal-Dos .Uno-lef {
  display: inline-block;
  position: left;
  background-color: #25df4d;
  border-radius: 25px;
  width: 100%;
  text-align: center;

}

.Uno-right {
  display: inline-block;
  position: Right;
  border-radius: 25px;
  text-align: center;
  width: 100%;


}

.Uno-right h2 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  margin-top: 45%;
}

.Contenido {

  display: grid;
  grid-template-columns: 70% 30%;
  align-items: left;
  height: 94vh;
  color: rgb(14, 13, 13);

}

.Contenido-Uno {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 5fr;
  margin: 5%;
  height: 90vh;
  margin-top: 200px;
  border-radius: 25px;
}

.Contenido-Dos {
  background-color: hsla(187, 85%, 79%, 0.953);
  height: 90vh;
  border-radius: 25px;
  margin: 10px;
  margin-top: 200px;

}

.Contenido-Dos h2 {
  margin: 4%;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: rgb(34, 8, 150);
}

.Contenedor {
  background-color: hsla(187, 85%, 79%, 0.953);
  color: rgb(15, 14, 14);
  height: 74vh;
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contenedor input {
  width: 80%;
  height: 32px;
  margin-left: 8%;
  border-radius: 8px;
  border-color: transparent;
  padding: 6px;
  font-size: 16px;
}

.Contenedor label {
  width: 90%;
  padding: 4%;
  text-align: left;
  margin-left: 14px;
  font-size: 24px;
  font-weight: bold;
  color: rgb(34, 8, 150);
}
.Botones-Contenido{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #e2dcdc;
  align-items: center;
  height: 10vh;
  border-radius: 25px;
  
}


button{

  border-color: transparent;
  background-color: #e2dcdc;
  margin-left: 20px;
  
}
.Boton-Uno img ,.Boton-Dos img {
  
  width: 40px;
  height: 40px;
 
}


.Contenedor button {
  margin-left: 20%;
  margin-top: 8%;
  padding: 4%;
  width: 50%;
  font-size: 22px;
  background-color: #359df1;
  border-color: #1b4cb8;
  border-radius: 25px;
  color: white;
}

footer {
  margin-top: 200px;
  height: 4vh;
  background-color: #ffffff;


}


@media (min-width: 1800px) {
  .Menu {
    height: 65%;
  }

  .Menu li a img {
    margin: 3%;
    height: 15%;
    width: 15%;
  }

  .Prueba {
    margin-top: 5%;
  }

  .Prueba li a img {

    height: 15%;
    width: 15%;
    margin-right: 3%;
  }

}

@media (min-width: 1800px) {
  .Uno-right h2 {
    color: white;
    font-size: 55px;
    margin-top: 35%;
  }
}

@media (min-width: 1200px) {
  .Uno-right h2 {
    color: white;
    font-size: 45px;
    margin-top: 25%;
  }
}

@media (min-width: 1000px) {
  .Uno-right h2 {
    color: white;
    font-size: 40px;
    margin-top: 25%;
  }
}

@media (max-width: 800px) {
  .Uno-right h2 {
    color: white;
    font-size: 15px;
    margin-top: 125%;
  }
}

@media (max-width: 500px) {

  .userLogo img {
    margin: 25%;
    width: 160%;
    height: 30%;

  }

  .Usuario {
    margin-top: 85%;
    margin-left: 15%;
    margin-right: 65%;
    display: block;
    position: right;
    color: White;
  }

  .Uno-right h2 {
    color: white;
    font-size: 12px;
    margin-top: 200%;
  }

  .Principal-Uno img {
    width: 80%;
    height: 80%;
    margin-top: 30%;

  }

  .Principal-Dos img {
    width: 80%;
    height: 80%;
    margin-top: 30%;

  }

  .Principal-Tres img {
    width: 80%;
    height: 80%;
    margin-top: 30%;

  }
}